#post-end-wechat
  center
    img#wechat-qrcode(src=`${theme.post_end.wechat.cdn_qrcode}` onerror=`onerror=null;src='${theme.post_end.wechat.local_default_qrcode}'`,alt='meixuhong.com')
  div=theme.post_end.wechat.description